@import '../../sass/main.scss';

.nav_list{
    display: flex;
    gap: 50px;
    color: $color-secondary;
    font-size: 18px;
    @media screen and (max-width: 700px){
        gap: 20px;
    }
    &_item{
        color: $color-secondary;
        transition: all 0.2s ease-in-out;
        font-size: 24px;
        font-family: Montserrat;
        font-weight: 500;
        text-decoration: underline;
        line-height: 34.22px;
        word-wrap: break-word;
        text-decoration: none;
        @media all and (max-width: 650px){
            font-size: 14px;
            line-height: 19.96px;
            text-transform: uppercase;
        }
        &_active{
            position: relative;           
            color: $color-secondary;
            transition: all 0.2s ease-in-out;
            font-size: 24px;
            font-family: Montserrat;
            font-weight: 500;
            text-decoration: underline;
            line-height: 34.22px;
            word-wrap: break-word;
            text-decoration: none;
            @media all and (max-width: 650px){
                font-size: 14px;
                line-height: 19.96px;
                text-transform: uppercase;
            }
            
        }
    }
}
