@import '../../sass/main.scss';

.appartement{
    &_content{
        @include align(row, space-between, flex-start);
        color: $color-secondary;
        width: 95%;
        margin: 0;
        @include center (auto,auto);
        @media all and (max-width: 650px){
            @include align(column, space-between, flex-start);   
            gap: 10px;   
        }
        &_infos{
            margin-top: 2%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-weight: 500;
            font-size: 14px;
            button{
                display: inline;
                padding: 5px 15px;
                margin-right: 10px;
                cursor: pointer;
                border-radius: 10px;
                border: none;
                color: $color-primary;
                background-color: $color-secondary;
                font-size: 14px;
                font-family: Montserrat;
                font-weight: 500;
                line-height: 19.96px;
                word-wrap: break-word;
                @media all and (max-width: 650px){
                    font-size: 10px;
                    width: 84px; 
                    height: 18px; 
                    line-height: 0px;
                }
                &:hover{
                    box-shadow: 0 2px 8px rgb(0, 0, 0);
                }
            }
            div{
                flex-wrap: wrap;
                gap: 10px;  
            }
            h1 {
                color: $color-secondary;
                font-size: 36px;
                font-family: Montserrat;
                font-weight: 500;
                line-height: 51.34px;
                word-wrap: break-word;
                @media all and (max-width: 650px){
                    font-size: 18px;
                    line-height: 25.67px;
                }
            }
            p {
                color: $color-secondary;
                font-size: 18px;
                font-family: Montserrat;
                font-weight: 500;
                line-height: 25.67px;
                word-wrap: break-word;
                @media all and (max-width: 650px){
                    font-size: 14px;
                    line-height: 19.96px;
                }
            }
        }
        &_host{
            display: flex;
            flex-direction: column;
            gap: 5px;
            @media screen and (max-width: 650px){
                width: 100%;
                @include align(row-reverse, space-between, center);     
            }
            div{
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                gap: 0 10px;
                color: $color-secondary;
                font-size: 18px;
                font-family: Montserrat;
                font-weight: 500;
                line-height: 25.67px;
                word-wrap: break-word;
                @media screen and (max-width: 500px){
                    gap: 0 5px;  
                    font-size: 12px; 
                    line-height: 17.11px;
                }
            }
            &_name{
                align-self: center;
                flex-direction: column;
            }
            img{
                width: 64px;
                height: 64px;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
            }
            &_stars{
                display: flex;
                gap: 10px;
                img{
                    width: 30px;
                    height: 30px;
                    @media screen and (max-width: 650px){
                        width: 20px;
                        height: 20px;  
                    }
                }
            }
        }
    }
    &_list{
        display: flex;
        padding-left: 2%;
        padding-top: 2%;
        padding-bottom: 4%;
        gap: 50px;
        &_item{
        width:50%;
        @media all and (max-width: 650px){ 
            display: block;  
            width:100%;
            padding-bottom: 4%;
            padding-top: 2%;
        }  
        }
        @media all and (max-width: 650px){ 
            display: block;  
            width:100%;
            padding-bottom: 4%;
            padding-top: 2%;
            padding-right: 2%;
        }  
    }
}