@import '../../sass/main.scss';

.banner{
    position: relative;
    @include align;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../images/banniere.png');
    background-position: center;
    background-size: cover;
    height: 223px;
    padding: 20px;
    max-width: 95%;
    margin: 43px;
    @include center (auto,auto);
    @media all and (max-width: 550px){
        @include center (auto,auto);
        margin: 20px;
        height: 120px;
    }
    &_about{
        position: relative;
        @include align;
        border-radius: 25px;
        height: 223px;
        max-width: 95%;
        margin-top:43px;
		@include center (auto,auto);
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../images/banniere_cover.png');
        background-position: center;
        background-size: cover;
        @media all and (max-width: 550px){
            margin: 20px auto;
            height: 120px;
        }
    }
    p{
        color: $color-primary;
        font-size: 48px;
        font-family: Montserrat;
        font-weight: 500;
        line-height: 68.45px;
        word-wrap: break-word;
        @media all and (max-width: 550px){
            font-size: 24px;
            line-height: 24px;
        }
    }
}

